/* Your code goes below here */


/* Your code goes below here */

/* 
selector {
  property: value;
}
*/
p {
    color: #343434;
    font-size: 24px;
    border: 1px solid goldenrod;
  }
  
  a {
    color: green;
    font-size: 28px;
    border: 1px solid blue;
  }
  
  ol, ul {
    color: green;
    border: 1px solid red;    
   }
   
  li {
    color: purple;
}
  
  strong {
    color: #f01d0a;
    background-color: #ebdc0e;
}
  em {
    color: #e3f30a;
    background-color: #340af0;
}

  /* Your code goes above here */





/* Your code goes above here */